<div class="image-gallery">
    { % assign sorted = site.static_files | sort: 'date' | reverse %}
    { % for file in sorted %}  
      { % if file.path contains include_folder %}
       { % if file.extname == '.jpg' %}
           { % assign filenameparts = file.path | split: "/" %}
           { % assign filename = filenameparts | last | replace: file.extname, "" %}
           { % assign img_path = '/mysite/img/' | append: filename | append: ".jpg" %}
           <div class="box">                
               <a href="" title="">
               <img src="" alt="" class="img-gallery" />
               </a>
            </div>
        { % endif %}
      { % endif %}
    { % endfor %}
   </div>